.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

body, html{
    height: 100%;
}

body {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
}

.UI {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    gap: 100px;
}

#container {
    display: grid;
    justify-self: center;
    width: 600px;
    height: 600px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.grid-item {
    background-color: white;
    user-select: none;
    transition:background-color 0.0s;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    gap: 30px;
    
}

.color-selector {
    width: 80px;
    height: 80px;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.show-size {
    font-size: 20px;
}

.range{
    -webkit-appearance: none;
    height: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: black;
}

.hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    gap: 30px;
}

.controls button{
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: inherit;
}

.hover * {
    transition: transform 0.1s;
}

.hover *:hover {
    transform: scale(1.05);
}